<br />

<h1 class="text-center text-xl font-semibold">Cool Friends Golf Drafter</h1>

<br />

<button 
  phx-click="new_draft"
  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
  >
  New Draft
</button>

<br />
